/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", sans-serif;
    background: #0d1117;
    color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* MAIN */
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

/* GAME AREA */
#gameContainer {
    width: 100%;
    height: 100%;
    max-width: 1400px;
    max-height: 900px;

    background: #000000;
    border: 2px solid #30363d;
    box-shadow: 0 0 20px #000;

    position: relative;
    overflow: hidden;

    display: none;
    border-radius: 10px;
}

/* SHIP */
#vaisseau {
    width: 60px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    transition: top 0.1s linear, left 0.1s linear
}

/* BULLETS */
.bullet {
    position: absolute;
    width: 5px;
    height: 20px;
    background: #f85149;
    border-radius: 3px;
    box-shadow: 0 0 8px #f85149;
}

/* ALIENS */
.alien {
    width: 50px;
    position: absolute;
    filter: drop-shadow(0 0 8px #58a6ff);
    transition: top 0.1s linear, left 0.1s linear
}

/* HUD SIMPLE */
#hud-simple {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 12px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    text-shadow: 0 0 10px #000;

    pointer-events: none;
}

.game-over-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    /* caché par défaut */
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.game-over-box {
    background: #222;
    padding: 40px;
    border-radius: 12px;
    text-align: center;
    color: white;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

.game-over-box h1 {
    margin-bottom: 15px;
    font-size: 2.5em;
    letter-spacing: 2px;
    color: #ff4444;
}

.game-over-box button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1.1em;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: #fff;
    color: #000;
    transition: 0.2s;
}

.game-over-box button:hover {
    background: #ddd;
}

.game-start-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.game-start-box {
    display: flex;
    flex-direction: column;
    background: #222;
    padding: 40px;
    border-radius: 12px;
    text-align: center;
    color: white;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
  p{
        font-size: 30px;
    }  
}

.game-start-box button {
    margin: 10px;
    padding: 10px 20px;
    
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: #235e86;
    color: #fff;
    transition: 0.15s;
   
}
 
.game-start-box button:hover {
    background: #2e52a0;
    transform: scale(1.05);
}

.game-start-box h1 {
    margin-bottom: 15px;
    font-size: 2.5em;
    letter-spacing: 2px;
    color: #235e86;
}

#hud-score {
    color: #4caf50;
}

#hud-lives {
    color: #ff5252;
}

#hud-timer {
    color: #03a9f4;
}